<!DOCTYPE html>
<html>
<head>
    <link href="/img/favicon.png" rel="icon">
    <title>Digi Cricket | Cricket Channels</title>
</head>
<body>

<h1>Video Player</h1>
    <button class="custom-button" onclick="location.href='/cricket/starSportHindi'">Star Sport Hindi</button>
    <button class="custom-button" onclick="location.href='/cricket/starSportHindi/player2'">Star Sport Hindi player 2</button>
    <button class="custom-button" onclick="location.href='/cricket/ptv'">PTV</button>
    <button class="custom-button" onclick="location.href='/cricket/willowCricket'">Willow Cricket</button>
</body>
</html>
